@use "base";
@use "components";
@use "layout";

* {
  margin: 0;
}

body {
  background-color: base.$grey;
}

main {
  overflow: hidden;
}

#form_section {
  position: absolute;
  z-index: 10;
  top: 10vh;
  left: 10vw;

  article {
    padding: 2rem;
    border-radius: 50px;
    background: #242424;
    box-shadow: 13px 13px 18px #151515, -13px -13px 18px #333333;
    text-align: center;

    .form_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  #form_section {
    top: 9vh;
    left: 23vw;

    article {
      padding: 3rem;

      .form_group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #form_section {
    top: 16vh;
    left: 30vw;
  }
}

/* Result page */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge {
  margin-top: 2rem;
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: white;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #1a1919;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #2dc444;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

/* procentage lines */
.lines {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.pics,
.video,
.texts,
.grid,
.css {
  padding: 1rem;
  width: 3rem;
}
.line {
  z-index: -1;
  height: 10rem;
  /* background-color: #2dc444; */
  background-color: #89af8f;
  border-radius: 25px;
}
.fill {
  z-index: 2;
  position: absolute;
  width: inherit;
  height: 15%;
  top: 22rem;
  background: #2dc444;
  border-radius: 25px;
}
p {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
