/* Index page */
/* h1{
  color: #ffffff;
} */
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem 4rem;
  gap: 2rem;
}
body {
  background-color: rgb(29, 26, 26);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button {
  font-size: 20px;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgb(29, 26, 26);
  box-shadow: 1px 1px 8px 3px rgb(50 52 53) inset;
  padding: 0.75rem;
  width: 40%;
}
.button1 {
  font-size: 20px;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgb(29, 26, 26);
  box-shadow: 1px 1px 8px 3px rgb(50 52 53) inset;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 40%;
  visibility: hidden;
}
.input {
  background-color: rgb(29, 26, 26);
  box-shadow: 1px 1px 9px 12px rgb(50 52 53) inset;
  border-radius: 25px;
}
li {
  list-style: none;
  padding: 0.5rem 0;
}
ul {
  padding-inline-start: 0px;
}
@media only screen and (max-width: 730px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
  }
  .button {
    visibility: hidden;
  }
  .button1 {
    visibility: visible;
  }
} */
/*.cover-img{
  display: flex;
  width: 20%;
  background-image: url(./img/leaf.svg);
  margin-bottom: -10px;
}
 .border {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(./img/leaf.svg);
  border-image-slice: 75%;
  border-image-repeat: round;
} */

/* Result page */
/* .result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge {
  margin-top: 2rem;
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: white;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #1a1919;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #2dc444;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%); */

/* Text */
/* display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
} */

/* procentage lines */
/* .lines {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.pics,
.video,
.texts,
.grid,
.css {
  padding: 1rem;
  width: 3rem;
} */
/* .line {
  z-index: -1;
  height: 10rem;
  background-color: #2dc444;
  background-color: #89af8f;
  border-radius: 25px;
}
.fill {
  z-index: 2;
  position: absolute;
  width: inherit;
  height: 15%;
  top: 22rem;
  background: #2dc444;
  border-radius: 25px;
}
p {
  display: flex;
  justify-content: center;
  color: #ffffff;
} */
