@use "../base/colors";

button {
  font-size: 1rem;
  color: colors.$grey;
  border-radius: 3rem;
  background-color: hotpink;
  padding: 1rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}
