@use "../base/colors";

#industry,
#url {
  background-color: colors.$grey;
  border: 0.5px solid colors.$white;
  height: 2rem;
  width: 15rem;
  border-radius: 2rem;
  color: colors.$white;
}

@media only screen and (min-width: 830px) {
  #industry,
  #url {
    height: 2rem;
    width: 20rem;
    border-radius: 2rem;
  }
}
