img {
  width: 5rem;
}

.upper_leafs {
  grid-column: 3/4;
  grid-row: 1/2;

  .one {
    position: absolute;
    width: 10vw;
    transform: rotate(110deg);
    left: 65vw;
    top: 20vh;
  }

  .two {
    position: absolute;
    width: 13vw;
    transform: rotate(60deg);
    left: 62vw;
    top: -5vh;
  }

  .three {
    position: absolute;
    width: 10vw;
    transform: rotate(10deg);
    left: 52vw;
    top: 1vh;
  }
}

.lower_leafs {
  grid-column: 2/3;
  grid-row: 2/3;

  .four {
    position: absolute;
    width: 10vw;
    transform: rotate(170deg);
    left: 38vw;
    top: 65vh;
  }

  .five {
    position: absolute;
    width: 14vw;
    transform: rotate(220deg);
    left: 25vw;
    top: 60vh;
  }

  .six {
    position: absolute;
    width: 10vw;
    transform: rotate(290deg);
    left: 25vw;
    top: 45vh;
  }
}
