img {
  width: 5rem;
}

.upper_leafs {
  .one {
    position: absolute;
    width: 13vw;
    transform: rotate(110deg);
    left: 80vw;
    top: 14vh;
  }

  .two {
    position: absolute;
    width: 19vw;
    transform: rotate(60deg);
    left: 73vw;
    top: 5vh;
  }

  .three {
    position: absolute;
    width: 15vw;
    transform: rotate(10deg);
    left: 62vw;
    top: 3vh;
  }
}

.lower_leafs {
  .four {
    position: absolute;
    width: 13vw;
    transform: rotate(170deg);
    left: 23vw;
    top: 59vh;
  }

  .five {
    position: absolute;
    width: 19vw;
    transform: rotate(220deg);
    left: 4vw;
    top: 55vh;
  }

  .six {
    position: absolute;
    width: 15vw;
    transform: rotate(290deg);
    left: 6vw;
    top: 50vh;
  }
}

@media only screen and (min-width: 800px) {
  .upper_leafs {
    .one {
      width: 10vw;
      left: 76vw;
      top: 10vh;
    }

    .two {
      width: 13vw;
      left: 73vw;
      top: 0vh;
    }

    .three {
      width: 10vw;
      left: 64vw;
      top: 1vh;
    }
  }

  .lower_leafs {
    .four {
      width: 10vw;
      left: 31vw;
      top: 53vh;
    }

    .five {
      width: 14vw;
      left: 18vw;
      top: 49vh;
    }

    .six {
      width: 10vw;
      left: 16vw;
      top: 44vh;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .upper_leafs {
    .one {
      width: 10vw;
      left: 65vw;
      top: 18vh;
    }

    .two {
      width: 13vw;
      left: 62vw;
      top: -1vh;
    }

    .three {
      width: 10vw;
      left: 55vw;
      top: 1vh;
    }
  }

  .lower_leafs {
    .four {
      width: 10vw;
      left: 37vw;
      top: 67vh;
    }

    .five {
      width: 14vw;
      left: 25vw;
      top: 59vh;
    }

    .six {
      width: 10vw;
      left: 24vw;
      top: 48vh;
    }
  }
}
